{% extends 'personal/commons.html' %}
{% load static %}

{% block content %}
<!-- CSS PER LA CARD -->
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        flex: 0 0 calc(50% - 10px);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex-grow: 1;
    }

    img {
        width: 200px;
        height: 150px;
        object-fit: cover; /* Adatta l'immagine senza distorsione */
    }

    .card-image {
        width: 200px;
        height: 150px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    @media (min-width: 1024px) {
        .card-image {
            margin-left: auto;
            margin-right: auto;
        }   
    }
</style>

<!-- FINE DEL CSS PER LA CARD -->
<div class="layout">
    <!-- Sidebar per articoli principali -->
    <aside class="sidebar">
        <h2 class="text-warning"><b>Articoli Principali</b></h2>
        {% for article in articles|slice:":3" %}
        <div class="article">
            <h3 class="text-dark"><b>{{ article.name }}</b></h3>
            <p class="text-dark">{{ article.description }}</p>
        </div>
        {% endfor %}
        <h2 class="text-warning"><b>Categorie</b></h2>
        <ul>
            <li><a href="{% url 'profumes_list' %}" style="color: black; text-decoration: none;">Profumi</a></li>
            <li><a href="" style="color: black; text-decoration: none;">Abbigliamento</a></li>
            <li><a href="" style="color: black; text-decoration: none;">Trucchi</a></li>
            <li><a href="" style="color: black; text-decoration: none;">Accessori per la casa</a></li>
            <li><a href="" style="color: black; text-decoration: none;">Gadget vari</a></li>
        </ul>
    </aside>

    <!-- Contenuto principale -->
    <main class="main-content">
        <h1>Benvenuto Nella Sezione Principale</h1>
        <p>Qui puoi aggiungere il contenuto principale della tua pagina</p>
        
        <div class="card-container">
            {% for article in articles %}
            <div class="card" style="width: 18rem;">
                {% if article.images %}
                    <img class="card-image" src="{{ article.images.url }}" alt="Immagine card">
                {% else %}
                    <img class="card-image" src="/static/image.png" alt="Immagine predefinita">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.name }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="{% url 'detail_list_html' article.id %}" class="btn btn-warning">Visualizza nel dettaglio </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}
